# DEBUG=action-dashboard:*                                                                                # Optional setting to help in debugging
GITHUB_APP_CLIENTID='XXX.XXXXXXXXXXXXXXXXXX'                                                            # The client id from the GitHub App general settings page.
GITHUB_APP_CLIENTSECRET='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'                                # The client secret from the GitHub App general settings page.
GITHUB_APP_INSTALLATIONID='00000000'                                                                    # Installation id from the GitHub App install page URL
GITHUB_APP_PRIVATEKEY='-----BEGIN RSA PRIVATE KEY-----\nXXXXXXXXXXXXXXX\n-----END RSA PRIVATE KEY-----' # The base64 encoded private key from the GitHub App general settings page.
GITHUB_APP_WEBHOOK_PATH=/webhook                                                                        # Optional if WebHooks running on different port than main site, defaults to /, if running on the same port defaults to /webhook.
GITHUB_APP_WEBHOOK_PORT='8081'                                                                          #  Optional, defaults to 8081. If set to the same as PORT must also specify GITHUB_APP_WEBHOOK_PATH
GITHUB_APP_WEBHOOK_SECRET='XXXXXX'                                                                      # Optional. If you don't supply the dashboard will not setup webhooks and only update every 15 minutes.
GITHUB_APPID='000000'                                                                                   # The AppId from the GitHub App general settings page.
GITHUB_USERNAME='XXXXXXXX'                                                                              # or GITHUB_ORG - Only one is valid. If both are specified GITHUB_ORG takes precedence and the GITHUB_USERNAME is ignored.
LOOKBACK_DAYS=7                                                                                         # Optional, defaults to 7. Number of days to look in the past for workflow runs.
PORT='8080'                                                                                             # Optional, defaults to 8080. Port site should run on.
